<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hackahold'em</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="A hackathon with a difference! This fun and unusual Hackathon is inspired by texas hold'em">
    <meta name="keywords" content="hackathon, texas holdem, hack, hacka, developers, start-up, event, community, sligo, ireland, hackathon ireland, coding"/>


    <!-- Facebook and Twitter -->

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="HACKAHOLD'EM - Hackathon Inspired by Texas Hold'em"/>
    <meta property="og:site_name" content="HACKAHOLD'EM - Hackathon Inspired by Texas Hold'em"/>
    <meta property="og:description" content="A hackathon with a difference! This fun and unusual Hackathon is inspired by texas hold'em"/>
    <meta property="og:url" content="http://www.hackaholdem.com/"/>
    <meta property="og:image" content="http://www.hackaholdem.com/img/hackaholdem-ogimg.jpg"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="HACKAHOLD'EM - Hackathon Inspired by Texas Hold'em">
    <meta name="twitter:description" content="A hackathon with a difference! This fun and unusual Hackathon is inspired by texas hold'em">
    <meta name="twitter:creator" content="Hackahold'em">
    <meta name="twitter:domain" content="www.hackaholdem.com">
    <meta name="twitter:image:src" content="http://www.hackaholdem.com/img/hackaholdem-ogimg.jpg">



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
